<div class="container-fluid text-center">
  <br />
  <a href="/">Back to main page</a>
  <br />
  <h1 class="fw-bold">All Locations</h1>
  <div class="row justify-content-center">

    {{#each location}}

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{image}}" alt="{{name}}-image}" />
          <div class="card-body">
            <h4 class="card-title fw-bold">{{name}}</h4>
            <p class="card-text"><b>Country:</b>
              {{country}},
              <b>City:</b>
              {{city}}</p>
            <p class="card-text"><b>Overall Rating:</b> {{ratingAverage}}</p>
            <p class="card-text"><b>Reviews:</b> {{reviewCount}}</p>
          </div>
          <form action="/locations/{{id}}" method="get">
            <button class="btn btn-primary" type="submit">View location details</button>
          </form>
        </div>
      </div>

    {{/each}}

  </div>
</div>

<div class="container-fluid text-center">

  <br />
  <h1 class="fw-bold">Become a host</h1>
  {{#if currentUser}}
    <form action="/locations/create" method="get">
      <button class="btn btn-primary" type="submit">Create a location</button>
    </form>
  {{else}}
    <form action="/auth/login" method="get">
      <button class="btn btn-secondary" type="submit" disabled>Login to create a
        location</button>
    </form>
  {{/if}}
</div>