<div class="container-fluid text-center">
  <a href="/">Back to main page</a>
  <h1 class="fw-bold page-title">All Locations</h1>
  <div class="row">

    {{#each location}}

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{image}}" alt="{{name}}-image}" />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Country:{{country}},City:{{city}}</p>
            <p>Rating: {{rating}}</p>
            <p>Comments: 0</p>
          </div>
          <a href="/locations/{{id}}" class="btn btn-primary">View location
            details</a>
        </div>
      </div>

    {{/each}}

  </div>
</div>

<div class="container-fluid text-center">
  {{#if currentUser}}
    <h1 class="fw-bold page-title">Become a host</h1>
    <a href="/locations/create">Create a location</a>
  {{else}}

  {{/if}}
</div>