<div class="container-fluid text-center">
<br>
<a class="btn" href="/locations">Back to locations</a>
{{#with location}}
  <h1 class="fw-bold">{{name}}</h1>
  <img id="location-image" class="img-fluid" src={{image}} alt="location-image" />
  <hr>
  <h3><b>Overall Rating:</b> {{ratingAverage}}</h3>
  <p><b>Country:</b> {{country}}</p>
  <p><b>City:</b> {{city}}</p>
  <p><b>Price:</b> ${{price}} mxn/night</p>
  <p><b>Guests per user:</b> {{guests}}</p>
  {{#if ../currentUser}}
  <p><b>Contact Info:</b> {{contact}} </p>
  {{else}}
    <div class="container justify-content-center text-center">
      <form action="/auth/login" method="get">
        <button class="btn btn-secondary" type="submit" disabled>Login view contact information</button>
      </form>
    </div>
  {{/if}}
  <hr>



</div>

 <div class="row d-flex align-items-center justify-content-center text-center">
  <h2 class="fw-bold">Reviews</h2>
  {{#each reviews}}
 
    <div class="col-md-4 mb-4 mb-lg-0 text-center">
      <figure
        class="bg-white p-3 rounded"
        style="border-left: .25rem solid #a34e78;"
      >
        <blockquote class="blockquote pb-2">
          <b>
            Rating: {{rating}}
          </b>
          <p>
            {{comment}}
          </p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 font-italic">
          {{user.username}}: {{#each dogs}}{{name}}({{breed}}) {{/each}}
        </figcaption>
      </figure>
    </div>

  {{/each}}
</div>
{{/with}}

{{#with location}}

  {{#ifCondNegate host ../currentUser._id}}
    {{#if ../currentUser._id}}
      <div class="container justify-content-center text-center">
        <form action="/locations/{{_id}}/create-review" method="get">
          <button class="btn btn-primary">Create a review</button>
        </form>
        <form action="/profile#reviews" method="get">
          <button class="btn btn-info">Manage your reviews</button>
        </form>
      </div>
    {{else}}
    {{/if}}
  {{else}}
  {{/ifCondNegate}}

  {{#if ../currentUser}}
  {{else}}
    <div class="container justify-content-center text-center">
      <form action="/auth/login" method="get">
        <button class="btn btn-secondary" type="submit" disabled>Login to create a
          review</button>
      </form>
    </div>
  {{/if}}
  
{{/with}}
<br>

