<div class="container justify-content-center align-items-center text-center">

  <br />
  <h1>Update your hosted location</h1>

  {{#with foundLocation}}

    <form action="/locations/{{_id}}/update" method="post">
      <label class="form-label" for="name">Name:</label>
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        value="{{name}}"
      />
      <label class="form-label" for="image">Image:</label>
      <input
        class="form-control"
        type="text"
        name="image"
        id="image"
        value="{{image}}"
      />
      <label class="form-label" for="country">Country:</label>
      <input
        class="form-control"
        type="text"
        name="country"
        id="country"
        value="{{country}}"
      />
      <label class="form-label" for="city">City:</label>
      <input
        class="form-control"
        type="text"
        name="city"
        id="city"
        value="{{city}}"
      />
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        name="price"
        id="price"
        value="{{price}}"
        min="0"
      />
      <label class="form-label" for="guests">Max Guests per User:</label>
      <input
        class="form-control"
        type="number"
        name="guests"
        id="guests"
        value="{{guests}}"
      />
      <label class="form-label" for="contact">Contact:</label>
      <input
        class="form-control"
        type="text"
        name="contact"
        id="contact"
        value="{{contact}}"
      />

      <br />
      <button class="btn btn-primary" type="submit">Update your hosted location</button>
    </form>

  {{/with}}

  <hr />

  <a href="/profile#locations">Go back to profile</a>

  {{#if errorMessage}}
    <div class="alert alert-warning" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

</div>