<div class="container-fluid text-center">

<a href="/locations">Back to locations</a>

{{#with location}}
  <h1 class="fw-bold">{{name}}</h1>
  <img id="location-image" class="img-fluid" src={{image}} alt="location-image" />
  <h3>Overall Rating: {{ratingAverage}}</h3>
  <hr>
  <h2 class="fw-bold">Reviews</h2>


</div>

 <div class="row d-flex align-items-center justify-content-center">
  {{#each reviews}}
 
    <div class="col-md-4 mb-4 mb-lg-0 text-center">
      <figure
        class="bg-white p-3 rounded"
        style="border-left: .25rem solid #a34e78;"
      >
        <blockquote class="blockquote pb-2">
          <b>
            Rating: {{rating}}
          </b>
          <p>
            {{comment}}
          </p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 font-italic">
          {{user.username}}: {{#each dogs}}{{name}}({{breed}}) {{/each}}
        </figcaption>
      </figure>
    </div>

  {{/each}}
</div>
  
<div class="container-fluid text-center">
  <button class="btn btn-primary"><a href="/locations/{{_id}}/create-review">Create a review</a></button>
  <button class="btn btn-info"><a href="/profile#reviews">Manage your reviews</a></button>
</div>

{{/with}}

