{{! views/users/user-profile.hbs }}
<div class="container-fluid text-center">
  {{#if currentUser}}
    <br />
    <h1 class="fw-bold">Welcome, {{currentUser.username}}!</h1>
    <hr />
    <h2 class="fw-bold">Your pets</h2>
    <div class="row justify-content-center">
      {{#each userPets}}

        <div class="col-md-3">
          <div class="card">
            <img
              class="card-img-top"
              src="{{picture}}"
              alt="{{picture}}-image}"
            />
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{breed}}</p>
              <p class="card-text">{{aboutMe}}</p>
              <form action="/profile/update-pet/{{_id}}" method="get">
                <button class="btn btn-primary" type="submit">Update</button>
              </form>
              <form action="/profile/delete-pet/{{_id}}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>

      {{/each}}
    </div>
    <br />
    <form action="profile/add-pet" method="get">
      <button type="submit">Add Pet</button>
    </form>
    <hr />

    <h2 class="fw-bold">Your hosted locations</h2>
    <div class="row justify-content-center">
      {{#each userLocations}}

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="{{image}}" alt="{{image}}-image}" />
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{breed}}</p>
              <p class="card-text">{{aboutMe}}</p>
              <form action="/locations/{{_id}}/update" method="get">
                <button class="btn btn-primary" type="submit">Update</button>
              </form>
              <form action="/locations/{{_id}}/delete" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>

      {{/each}}

    </div>

    <hr />

    <div id="reviews">
      <h2 class="fw-bold">Your posted reviews</h2>
      <br />
      {{#each userReviews}}
        <h3>Location: {{location.name}}</h3>
        <br />
        <p>Rating: {{rating}}</p>
        <p>Comment: {{comment}}</p>
        <p>Created at: {{createdAt}}</p>
        <p>Updated At: {{updatedAt}}</p>

        <form action="/locations/{{_id}}/update-review" method="get">
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form action="/locations/{{_id}}/delete-review" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <br />
      {{/each}}
    </div>
  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
</div>